html, body {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-image: url(https://s3.amazonaws.com/codecademy-content/projects/pocketbook/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 15px;
}


/*HEADER*/


.header .container{
  border-bottom: 2px solid;
}

.header img {
  width: 50px;
  display: block;
  margin: 30px auto;
}


/*MAIN*/





/*FOOTER*/


