html, body {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  color: white;
  background-color: dimgray;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 15px;
}


/*HEADER*/


.header .container{
  border-bottom: 2px solid;
}

.header img {
  width: 50px;
  display: block;
  margin: 30px auto;
}


/*MAIN*/





/*FOOTER*/


